* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.root {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: inherit;
    height: inherit;
    padding: 72px 7.5%;
    background-color: #efefef;
}

@import '../../src/app/components/calendar/calendar.scss'